.cover-container {
  max-width: 100%;
  background-color: #FFB7C5;
}


.btn-green {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
  font-weight: bold;
}

.btn-green:hover {
  background-color: #218838;
  border-color: #218838;
  color: white;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}