.cover-container {
  max-width: 50em;
  background-color: #FFB7C5;
}

header {
  background-color: #000;
}

.nav.nav-masthead {
  background-color: #000;
}

.nav.nav-masthead .nav-link,
.nav.nav-masthead .nav-link.active {
  color: #fff !important;
}

.btn-green {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
  font-weight: bold;
}

.btn-green:hover {
  background-color: #218838;
  border-color: #218838;
  color: white;
}
